body {
  font-family: "Open Sans", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.banner-part {
  margin-bottom: 15px;
}

.btn-primary {
  border-radius: 8px;
  background: limegreen;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 20px;
}

.banner-title {
  font-size: 75px;
  font-weight: 800;
}

.banner-section {
  text-align: left;
   max-width: 730px;
}

.banner {
  padding: 150px 100px 0px 100px; 
  background-color: salmon;
  display: flex;
  column-gap: 100px;
  justify-items: space-between;

}
.banner-img{
   width: 450px;

}
